.controls {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 30%;
  width: 100%;
}

.controls__change {
  height: 15%;
}

.controls__play {
  margin-left: 5%;
  margin-right: 5%;
  height: 50%;
}